.App {
  text-align: center;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  margin-top: 2rem;
}

.App-link {
  color: #61dafb;
}

.underline {
  border-top: 1px solid #DCDCDC;
  width: 100%; 
  margin-top: 3rem; 
}

.App-body {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-select-box {
  margin-top: 3rem;
}

.body-select-one {
  border-radius: 5px;
  width: 8rem;
  height: 3rem;
  padding: 11px;
  font-size: 1em;
  color: #333;
  font-weight: 300;
  border: 1px solid #DADADA;
}

.body-select-one:focus {
  border: 2px solid #333;
}


.body-select-two {
  margin-left: 5px;
  border-radius: 5px;
  width: 20rem;
  height: 3rem;
  padding: 11px;
  font-size: 1em;
  color: #333;
  font-weight: 300;
  border: 1px solid #DADADA;
}

.body-select-two:focus {
  border: 2px solid #333;
}

.body-select-three {
  margin-left: 5px;
  border-radius: 5px;
  width: 5rem;
  height: 2.9rem;
  border: 1px solid #DADADA;
  padding: 0px;
  font-size: 1em;
  text-align: center;
}


.body-input {
  margin-top: 10px;
  border-radius: 5px;
  width: 33rem;
  height: 10rem;
  border: 1px solid #DADADA;
  text-align: left;
  padding: 10px;
  resize: none;
  line-height: 1.5;
}

.body-btn {
  background: #2278F5;
  width: 34.5rem;
  margin-top: 14px;
  border-radius: 5px;
  padding: 11px;
  color: #fff;
  border: #fff;
  font-size: 1em;
  cursor: pointer;
}

.body-btn:hover {
  background-color: #333;
}

.audio {
  margin-top: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: 3rem;
}